{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"Offer\":{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\"},\"salary\":{\"type\":\"integer\"}}},\"CandidateData\":{\"type\":\"object\",\"properties\":{\"email\":{\"type\":\"string\"},\"experience\":{\"type\":\"integer\"},\"lastName\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"skills\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}}}},\"type\":\"object\",\"properties\":{\"approve\":{\"type\":\"boolean\",\"output\":true,\"input\":true},\"offer\":{\"$ref\":\"#/$defs/Offer\",\"output\":true,\"input\":true},\"candidate\":{\"$ref\":\"#/$defs/CandidateData\",\"input\":true}}}"
}